---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Break Your FD">
  <main class="bg-slate-100">
    <div
      class="bottom-auto left-auto right-0 top-0 absolute h-[500px] w-[500px] sm:-translate-x-[40%] translate-y-[20%] rounded-full bg-[rgb(218,192,248)] opacity-70 blur-[80px]"
    >
    </div>
    <div class="flex flex-col flex-grow items-center -z-10 w-full">
      <img
        src="/homepage.png"
        alt=""
        class="h-[30rem] w-[4/5] md:h-[30%] md:w-[30%] bg-transparent"
      />

      <div class="hero">
        <div class="hero-content right-0 text-center">
          <div class="max-w-[40rem]">
            <h1 class="text-6xl font-bold">
              Your Journery to Financial Freedom Begins <span
                class="text-purple-600">Here</span
              >
            </h1>
            <p class="py-6 italic font-mono">
              Trust us to navigate the financial markets and help you achieve
              your financial goals. Invest smartly, grow confidently with
              BreakYourFD.
            </p>
            <a href="/login" class="btn text-lg text-white bg-purple-600"
              >Get Started</a
            >
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
