<div class="p-2">
  <div class="flex justify-start gap-2">
    <a href="https://www.instagram.com/breakyourfd/"
      ><img src="/instagram.png" alt="Icon 1" class="w-6 h-6" /></a
    >
    <img src="/gmail.png" alt="Icon 2" class="w-6 h-6" />
  </div>
  <div class="flex items-center justify-start mt-2">
    <img src="/phone-call.png" alt="Icon 3" class="w-6 h-6" />
    <span class="font-mono">(+91)8829064128 </span>
  </div>
</div>
