---
import Contact from "./Contact.astro";
const { pathname } = Astro.url;
const path = pathname.match(/\/$/) ? pathname.slice(0, -1) : pathname;
const { linkText, address, isContact = false } = Astro.props;
const linkClasses =
  "decoration-4 text-gray-700 font-semibold decoration-orange-400";
---

<li>
  {
    !isContact ? (
      <a
        href={address}
        class={
          linkClasses +
          " hover:underline hover:bg-transparent" +
          (path === address ? " underline" : "")
        }
      >
        {linkText}
      </a>
    ) : (
      <details class="dropdown dropdown-bottom">
        <summary class={linkClasses + " hover:bg-orange-300"}>
          Contact Us
        </summary>
        <Contact />
      </details>
    )
  }
</li>
