---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
// Supports weights 400-800
// Supports weights 200-900
import "@fontsource-variable/nunito";
import "@fontsource/dm-mono";
import "@fontsource/krona-one";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" data-theme="pastel" class="min-h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="logoico.png" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<!-- bg-gradient-to-tr from-slate-300 via-gray-100 to-gray-200 -->
