---
interface Props {
  title: string;
}
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/nunito";
import "@fontsource/dm-mono";
import "@fontsource/krona-one";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="logoico.png" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
